<div class="container">
    <form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" 
          aria-describedby="emailHelp" 
          placeholder="Ingrese su email"
          name="email" ngModel required>
          <small id="emailHelp" class="form-text text-muted">nunca compartiremos su correo electronico</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">contrasena</label>
          <input type="password" class="form-control" 
          id="exampleInputPassword1" placeholder="Password"
          name="password" ngModel required>
        </div>
       
        <button type="submit" class="btn btn-primary">Iniciar sesion</button>
      </form>
</div>